* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #333;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  overflow: hidden;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

::placeholder {
  color: #b3b3b3;
}

label {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: left;
  margin-top: 10px;
  display: block;
}

input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}
